<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Responsive Bootstrap Advance Admin Template</title>

		<!-- BOOTSTRAP STYLES-->
		<link href="../static/assets/css/bootstrap.css" rel="stylesheet" />
		<!-- FONTAWESOME STYLES-->
		<link href="../static/assets/css/font-awesome.css" rel="stylesheet" />
		<!-- PAGE LEVEL STYLES-->
		<link href="../static/assets/css/error.css" rel="stylesheet" />
		<!-- GOOGLE FONTS-->
		<link
			href="http://fonts.googleapis.com/css?family=Open+Sans"
			rel="stylesheet"
			type="text/css"
		/>
	</head>

	<body>
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12 set-pad">
					<strong class="error-txt">{{ error.code|default('') }}</strong>
					<strong class="error-txt">{{ error.title|default('Error!') }}</strong>
					<p class="p-err">
						{{error.description|default('sorry. we encountered some unexpected
						error')}}
					</p>
					<a href="{{error.url}}" class="btn btn-danger"
						><i class="fa fa-mail-reply"></i>&nbsp;PLEASE GO BACK</a
					>
				</div>
			</div>
		</div>

		<div class="c-err">
			<div class="container">
				<!--Search Section Start-->
				<div class="row">
					<div class="form-group input-group col-md-6 col-md-offset-3">
						<!-- <input type="text" class="form-control" placeholder="Enter Keywords" />
						<span class="input-group-btn">
							<a class="btn btn-primary">
								<i class="fa fa-gear fa-spin"></i>&nbsp;&nbsp;SEARCH HERE
							</a>
						</span> -->
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<br />
					<br />
					<a href="/home" class="btn btn-success"> GO TO HOME </a>
					<br />
					<br />
				</div>
			</div>
		</div>

		<hr />
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">&copy;</div>
			</div>
		</div>
	</body>
</html>
